.money-container {
  border: blue 5px solid;
  width: 53%;
  }

.money-container img {
  height: 90px
  }

header {
  border: blue 5px solid;
  width: 20%;
  margin-bottom: 40px;
  }

.bank-container {
  border: blue 5px solid;
  width: 25%;
  }

.bank-container img {
  height: 200px;
  }

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

button {
  height: 60px;
  width: 60px;
  }

.reset {
  display: flex;
  justify-content: flex-end;
  }

.counter-container{
  width: 50px;
  border: blue 5px solid;
  }

  .questions-container{
    width: 70px;
    border: blue 5px solid;

  }
